@import url('href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', serif;
}

body{
    font-family: 'Sacramento', cursive;
    color: #3a3a3a;
    background-image: url(../images/striped_lens.png); /* Background pattern from Toptal Subtle Patterns called Translucent Fibres made by Angelica */
}

h1, h2, h3 {
    font-family: 'Josefin Slab', serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    margin-right:1%;
    margin-left:1%;
}

.title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 200%;
    clear: both;
}

.button {
    background-color: #3a3a3a;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

#header {
    height:100px;
    width: 100%;
    box-shadow: inset 0 0 0 1000px  rgba(132,160,168, 0.7);
}


#logo {
    height:70px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}
#logo img {
    height:60px;
}

#nav {
    float:right;
}

#menu {
    line-height: 100px;
    font-size: 130%;
    letter-spacing: 6px;
    position:relative;
}

#menu li {
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}
#menu a:hover {
    background-color: #f79449;
    padding: 10px 10px 10px 10px;
  }

.cover {
    height:500px;
    background: url(../images/Three_balls_wool.jpg) 
    no-repeat center / cover;
    }
       
.cover-text {
    display:inline-block;
    width: 40%;
    font-size: 130%;
    letter-spacing: 4px;
    padding: 10px 10px 10px 10px;
    margin-left:5%;
    margin-top: 200px;
    text-align: center; 
    vertical-align: middle;
    line-height: 60px;
    border-radius: 25px;
    background-image: url(../images/striped_lens.png); /* Background pattern from Toptal Subtle Patterns called Translucent Fibres made by Angelica */
    box-shadow: inset 0 0 0 1000px  rgba(148,130,135, 0.7);
}

/*  4 Reasons  */
#reasons {
    text-align: center;
} 

#reasons .title {
    padding-bottom: 40px;
}

#reasons h3 {
    font-size: 150%;
    padding-bottom: 10px;
}
#reasons p {
    padding-bottom: 40px;
}
#reasons-container {
    display: inline-block; 
    position:relative; /* to position the picture in absolute inside */
}
#left-reasons {   
    width: 30%;
    float: left;
}
#right-reasons {
    width: 30%;
    float: right;
}
.left-reasons-content {
    width: 90%;
    float: right;
}
.right-reasons-content {
    width: 90%;
    float: left;
}
#center-image {
    width: 39%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}
#center-image img {
    max-width: 330px;
    width: 80%;
    border-radius: 50%;
    border-style: solid;
    border-color: #bdb6c4;
    padding: 15px;
    border-width: 2px;
    vertical-align: middle;  
}

/*  Setion button course   */
#buttons-course {
    text-align:center
}

/*  #########  Courses      ##########  */
.price {
    color:#f79449;
}

.course-container{
    width:40%; 
}

#weekly-courses {
    margin-top: -50px;
}

#weekly-course-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#weekly-course-container img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

#separation0 {
    line-height: 100px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0% 100%);
}
#separation0 p {
    transform: rotate(-2deg);
}

#separation1{
    line-height: 115px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
}
#separation1 p {
    transform: rotate(-1.5deg);
}

#separation2{
    line-height: 120px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(100% 50%, 100% 100%, 0 50%, 0 0);
}
#separation2 p {
    transform: rotate(1.5deg);
}

#worshops {
    margin-top: -50px;
}

#worshops img {
    max-width:100%;
    border-radius: 12px;
  }

#worshop-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

#worshop-container div {
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    margin-right:1% ;
    margin-left:1% ;
}

#buttons-course {
    text-align:center;
    padding-bottom: 30px;
}

#calendar-in-pdf {
margin-top: -50px;
}

/* Gallery */
#gallery-photos {
    column-gap: 4px; 
    line-height: 0;
    column-count: 4;
    margin: 10px 10px 10px 10px;

}

#gallery-photos img{
    width: 100%;
    border-radius: 12px;
    border-bottom:2px solid transparent; 
}


/* Footer */
footer{
    clear: both;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: inset 0 0 0 1000px  rgba(132,160,168, 0.7);
    text-align: center;
   
}

#left-footer{ 
    width: 33%;
    float:left;
}

#right-footer {
    width: 33%;
    float:right;
    margin-top: 0;
}

#middel-footer {
    width: 33%;
    margin: 0 auto;
}

.social-networks img{

}

.social-networks li{
    list-style-type: none;
}


