@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Pacifico&family=Roboto:wght@100;400&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

h1, h2, h3, h4 {
    font-family: serif;
}

body {
    font-family: cursive;
    color: #3a3a3a;
    background-image: url(../images/striped_lens.png); /* Background pattern from Toptal Subtle Patterns called Translucent Fibres made by Angelica */
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-right:1%;
    margin-left:1%;
}

.title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 200%;
    clear: both;
}

.button {
    background-color: #3a3a3a;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

/*  ####### header #######  */
#header {
    height:100px;
    width: 100%;
    background-color: rgba(132,160,168, 0.7);
}

#icon-burger{
    display: none;
}

#logo {
    height:70px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

#logo img {
    height:60px;
}

#nav {
    float:right;
}

#menu {
    line-height: 100px;
    font-size: 130%;
    letter-spacing: 4px;
    position:relative;
}

#menu li {
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    background-color: #ee9305; 
    padding: 10px 10px 10px 10px;
}

/*  ####### cover #######  */
.cover {
    height:500px;
    background: url(../images/Three_balls_wool.jpg) no-repeat center / cover;
}
       
.cover-text {
    display:inline-block;
    min-width: 250px;
    width: 40%;
    font-size: 130%;
    letter-spacing: 4px;
    padding: 10px 10px 10px 10px;
    margin-left:5%;
    margin-top: 200px;
    text-align: center; 
    border-radius: 25px; 
    background-image: url(../images/striped_lens.png); /* Background pattern from Toptal Subtle Patterns called Translucent Fibres made by Angelica */
    box-shadow: inset 0 0 0 1000px  rgba(148,130,135, 0.7);
}

.cover-text h1 {
    line-height: 50px;
}

/*  ####### Content - Index #######  */
/*  About  */
#about {
    text-align: center; 
}

/*  4 Reasons  */
#reasons {
    text-align: center;
    padding-top: 10px;
} 

#reasons .title {
    padding-bottom: 50px;
}

#reasons h3 {
    font-size: 150%;
    padding-bottom: 10px;
}

#reasons p {
    padding-bottom: 40px;
}

#reasons-container {
    display: inline-block; 
    position:relative; /* to position the picture in absolute inside */
}

#left-reasons {   
    width: 30%;
    float: left;
}

#right-reasons {
    width: 30%;
    float: right;
}

.left-reasons-content {
    width: 90%;
    float: right;
}

.right-reasons-content {
    width: 90%;
    float: left;
} 

#center-image {
    width: 39%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}

#center-image img {
    max-width: 330px;
    width: 80%;
    border-radius: 50%;
    border-style: solid;
    border-color: #bdb6c4;
    padding: 15px;
    border-width: 2px;
}

/*  Setion link-courses  */
#link-courses {
    padding-bottom: 10px;
    padding-top: 20px;
}

#buttons-course  {
    display: flex;
    justify-content: center;
}

/*  #########  Content - Courses      ##########  */
#no-scroll-right{
    overflow-x: hidden; /* for the design geometrical forms have large width, this is to hide on the overflow */
}

.price {
    background-color: white;
    color:rgb(247,148,73);
    animation-name: color-change;
    animation-duration: 6s; 
}

@keyframes color-change {
    0% { background-color: rgb(247,148,73,0.7);   
    }
    100% { background-color: white; 
    }
}

.title-weekly-course{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 180%;
}

.course-container{
    width: 45%; 
}

#weekly-courses {
    margin-top: -30px;
}

#weekly-course-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 15px;
}

#weekly-course-container h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#weekly-course-container p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#weekly-course-container img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

#beginner-details {
    display: none; /* will be displayed with js code after click */
    margin-top: 10px;
}

#intermediate-details {
    display: none; /* will be displayed with js code after click */
    margin-top: 10px;
}

/* Work on the geometrical forms that are used for separation */
.small-screen {
    display: none;
}

#separation0 {
    line-height: 100px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0% 100%);
}

#separation0 p {
    transform: rotate(-2deg);
}

#separation1 {
    line-height: 115px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
}

#separation1 p {
    transform: rotate(-1.5deg);
}

#separation2{
    line-height: 120px;
    width:2000px;
    height: 100px;
    background-color: rgba(228,228,228, 0.7);
    clip-path: polygon(100% 50%, 100% 100%, 0 50%, 0 0);
}

#separation2 p {
    transform: rotate(1.5deg);
}

#workshops {
    margin-top: -20px;
    margin-bottom: 40px;
}

#workshops img {
    max-width:100%;
    border-radius: 12px;
}

#workshop-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

#workshop-container div {
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    margin-right:1% ;
    margin-left:1% ;
    width: 33%;
}

#workshop-container h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#workshop-container h3 {
    padding-bottom: 10px;
}

#workshop-container p {
    padding-bottom: 10px;
}

#workshops-details {
    display: none; /* will be displayed with js code after click */
    border-style: solid;
    border-color: #f79449;
    border-width: 2px;
    border-radius: 12px;
    padding: 10px;
    margin-right:1% ;
    margin-left:1% ;
    margin-top: 10px;
    text-align: center; 
}

#workshops-details h2 {
    padding-bottom: 10px;
}

#buttons-course {
    text-align:center;
    padding-bottom: 30px;
}

#calendar {
    margin-top: -40px;
    margin-bottom: 20px;
}

/* ######     Content - Gallery     ########## */
#gallery-photos {
    column-gap: 4px; 
    line-height: 0;
    column-count: 4;
    margin: 40px 10px 10px 10px;
}

#gallery-photos img{
    width: 100%;
    border-radius: 12px;
    border-bottom:2px solid transparent; 
}

/* #######   Footer     ######## */
footer{
    height: 190px;
    clear: both;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color:  rgba(132,160,168, 0.7);
    text-align: center;
}

#left-footer{ 
    width: 33%;
    float:left;
}

#right-footer {
    width: 33%;
    float:right;
    margin-top: 0;
}

#middel-footer {
    width: 33%;
    margin: 0 auto;
}

.social-networks i {
    font-size: 35px;
    margin: 10px;
    color: #3a3a3a;
}

.social-networks li {
    list-style-type: none;
}

/* ############  Content - Form  #####################*/
#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 600px;
    width: 80%;
}

#contact-form {
    background-color: rgba(228,228,228, 0.7);
    padding: 30px;
    border-radius: 10px;
}

#contact-form h2 {
    text-align: center;
    padding-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#find-us {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#find-us p {
    padding-bottom: 20px;
}

iframe{
    width: 80%;
}

/* #######    Content - Calendar     ######## */
#calendar-page {
    margin-top: 30px;
    margin-bottom: 10px; 
    text-align: center;
}

/* ######### Responsive part  ########## */

  /* For medium screens sizes under 950px */
@media screen and (max-width: 950px){

.cover-text h1 {
    line-height: 40px;
}

#about {
    padding-top: 0px;
}

/* reasons */
#reasons {
    padding-top: 0px;
} 

#left-reasons {   
    width: 45%;
    float: left;
}

#right-reasons {
    width: 45%;
    float: right;
}

#center-image {
    top:200px;
    transform: translate(-160px, -230px);
}

#center-image img {
    width: 300px; 
}

#reasons-container {
    padding-top : 320px;
}

#link-courses {
    margin-top: -60px;
}

/*  Courses  */  
#weekly-course-container {
       display: block;
       margin-bottom: -30px;
}

.course-container {
    margin: auto;
    width: 65%; 
    padding-bottom: 20px;
}
   
#workshop-container {
    display: block;
    width: 60%;
    margin: auto;
}

#workshop-container div {
    margin-bottom: 10px;
    width: 100%;
}

/*   Gallery   */  
#gallery-photos {
    column-count: 2;
}

} /* Close  @media screen and (max-width: 950px) */

@media screen and (max-width: 750px) {

body {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
}

/*  Burger for NAV  */
#header {
    height:auto;
    overflow: hidden;
}

#icon-burger {
    display: block;
    font-size: 200%;
    color: #3a3a3a;
    position: absolute;
    right: 20px;
    line-height: 100px;
}

#menu {
    display: none;
    line-height: 40px;
    font-size: 100%;
    letter-spacing: 2px; 
    margin-left: 10px;
}

#menu li {
    display: block;   
    width: 100%;
}

#logo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

#nav {
    display: block;
    width: 100%;
}

.cover {
    background: url(../images/3ballswool-for-small.jpg) 
    no-repeat center / cover ;
}

/*   text Welcome Cripulette     */
.cover span{
    display: none;
} 

#about span {
    display: none; 
}

#left-reasons{
    display: block;
    width: 100%;  
}

#right-reasons{
    display: block;
    width: 100%;  
}

.left-reasons-content {
    float: none;
    margin: auto; 
}

.right-reasons-content {
    float: none;
    margin: auto; 
}

#center-image {
    transform: translate(-152px, -230px);
}

#center-image img {
    width: 270px; 
}

#link-courses span {
    display: none; 
}

#buttons-course {
    display: block;
}

#buttons-course p:first-child {
    margin-bottom: 20px;
}

/*   Footer  */
footer {
    height: max-content;
}

#left-footer, #right-footer, #middel-footer { 
    box-shadow: 0px 0px 12px rgba(132,160,168, 0.5);
    padding: 10px;
    width: 80%;
    float:none;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 12px;
}

.social-networks i{
    font-size: 200%;
    margin: 0%;
    padding: 5px;
    color: #3a3a3a;
}

/* Courses */ 
.course-container, #workshop-container {
    width:90%; 
}

.from-middel-screen {
    display: none;
}

.small-screen {
    display: block;
}

#separation0 p {
    padding-top: 20px;
    line-height: 20px;
}

#separation1 p{
    padding-top: 30px;
    line-height: 20px;
}

#separation2 p{
    padding-top: 35px;
    line-height: 20px;
}

} /* Close  @media screen and (max-width: 750px) */